body{
	font-family: "Arial", Serif;
	background-color: #f4f4f4;
	background-image: url(../images/background.png);
}

.navbar{
	background-color: #3b5998;
	overflow: hidden;
	height: 100%;
}

.navbar a{
	float: left;
	display: block;
	color: #f2f2f2;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 17px;
}

.navbar ul{
	margin: 8px 0 0 0;
	list-style: none;
}

.nav > li{
	display: inline;
	margin-left: 30px;
}

.navbar a.click:hover{
	background-color: #ddd;
	color: #000;
	font-weight: bold;
}

.side-nav{
	height: 100%;
	width: 0;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	background-color: #111;
	opacity: 0.9;
	overflow-x: hidden;
	padding-top: 60px;
	transition: 0.5s;
}

.side-nav a{
	padding: 10px 10px 10px 30px;
	text-decoration: none;
	font-size: 22px;
	color: #ccc;
	display: block;
	transition: 0.3s;
}

.side-nav a:hover{
	color: #fff;
}
#side-menu{
	overflow-x: scroll;
}
#side-menu > span{
	color: white;
	font-size: 22px;
}

#side-menu > p > label > span{
	color: white;
}

#side-menu input[name="filter"] {
	display: block;
	float: none;
    margin-bottom: 70px;
}

.side-nav .btn-close{
	position: absolute;
	top: 0;
	right: 22px;
	font-size: 36px;
	margin-left: 50px;
}

#main{
	transition: margin-left 0.5s;
	padding: 20px;
	overflow: hidden;
	width: 100%;
}

#main .text .stepback{
	padding-left: 60px;
}

.dot{
  width: 25px;
  height: 25px;
  margin-left: 15px;
  border-radius: 30px;
  background-color: red;
  position: relative;
  animation-name: moving_dot;
  animation-duration: 5s;
  animation-iteration-count: 30;
}

@keyframes moving_dot{
  0%   {background-color:black; left:0px; top:0px;}
  25%  {background-color:rgb(201, 233, 248); left:0px; top:-100px;}
  50%  {background-color:rgb(59, 89, 152); left:0px; top:-215px;}
  75%  {background-color:rgb(51, 154, 229); left:0px; top:-100px;}
  100% {background-color:rgb(169, 214, 241); left:0px; top:0px;}
}

#logo img{
	height: 125px;
    margin: -50px;
}

#logo a{
	float: right;
    padding-right: 65px;
}
